body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0;
  background-color: rgba(223, 188, 143, 0.545);
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

button {
  padding: 1rem;
  background-color: rgba(159, 136, 106, 0.249);
  border-radius: 5px;
  border: none;
}

button:hover {
  cursor: pointer;
  border: 2px solid burlywood;
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(248, 171, 29, 0.783);
}

.form-div {
  width: 20rem;
  padding: 2rem;
  background-color: rgba(201, 169, 115, 0.373);
  border-radius: 10px;
}

.authentication-div {
  margin-top: 3rem;
}
