/* 

  ------------------------------------Start of General styling for whole website -----------------------------------------------

*/

body {
  /* background-image: url(https://www.freegreatpicture.com/files/146/24885-colorful-high-resolution-background.jpg); */
  background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
  margin: 0;
}

header {
  font-size: 1.5rem;
  display: flex;
  flex-grow: inherit;
  flex-shrink: inherit;
  justify-content: space-between;
}

#NavBar {
  display: inline-flex;
  justify-content: space-evenly;
}

.NavLink {
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  margin-left: 1rem;
}

/* this styling will lightlight navbar selection and uses js file */
.NavLink:hover,
.NavLink[aria-current="page"] {
  color: black;
  background: #ddd;
}

/* start of wavy text animation styles */
.wavy {
  font-family: "Courier New", Courier, monospace;
  display: inline-flex;
  flex-shrink: inherit;
  flex-grow: inherit;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.wavy span {
  position: relative;
  display: inline-flex;
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-20px);
  }

  40%,
  100% {
    transform: translateY(0px);
  }
}

/* end of wavy text animation styles */

/* Footer Styling */
footer {
  position: sticky;
  top: 100%;
  padding: 0.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dddddd5c;
  margin-top: 3rem;
}

#contact {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

/* images in footer */
footer img {
  display: inline-block;
  width: 3rem;
  height: auto;
}

/*

------------------------------------End of General styling for whole website -----------------------------------------------







------------------------------------Start of home/landing page styles -----------------------------------------------

*/

/* ------overview styling------ */
h1 {
  font-size: xx-large;
}

#overview {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #ddd;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

/* adding hover animation to over listings */
#overview ul li:hover {
  animation: animate 2s ease-in-out;
}

#overview ul li {
  padding: 2rem;
}

.KnowMeHeading {
  font-weight: bold;
  font-size: large;
}

/* ---------------------------------------------------End of Home/Landing Page styling------------------------------------------------







-------------------------------------------------------Start of About Me Page Styling------------------------------------------------ */

/* sections for each side of the about me page to contain images */
aside {
  max-width: 20%;
  display: flex;
  color: black;
  margin: 1rem;
  margin-top: 6rem;
  flex-direction: column;
  justify-content: space-between;
}

/* About me page side images */
.aboutmesideimgs {
  width: 100%;
}

/* The About me page Main div which contains the div funtioning as sub main element */
#aboutmain {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

/* sub main divider for about me page */
#aboutmemaindiv {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  max-width: 50%;
  margin-top: 5rem;
  background-color: rgba(28, 28, 28, 0.491);
}

/* About me page H1 styling */
#aboutmeh1 {
  font-weight: bold;
  text-align: center;
}

/* About me page paragraphs */
#aboutmain p {
  padding-right: 2rem;
  padding-left: 2rem;
}

/* 
---------------------------------------------------End of About Me Page Styling----------------------------------------------------







-------------------------------------------------------Start of Portfolio Page Styling------------------------------------------------ 

*/

/* sections for each side of the portfolio page to contain images */

/* portfolio page side images */
.portfoliosideimgs {
  width: 100%;
}

/* The portfolio page Main div which contains the div funtioning as sub main element */
#portfoliomain {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

/* sub main divider for portfolio page */
#portfoliomaindiv {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  max-width: 50%;
  margin-top: 5rem;
  background-color: rgba(28, 28, 28, 0.491);
}

/* Portfolio page H1 styling */
#portfolioh1 {
  font-weight: bold;
  text-align: center;
}

h2 {
  padding-left: 2rem;
}

/* Portfolio page paragraphs */
#portfoliomain p {
  padding-right: 2rem;
  padding-left: 2rem;
}

/* 
---------------------------------------------------End of Portfolio Page Styling----------------------------------------------------







-------------------------------------------------------Start of Contact Page Styling------------------------------------------------ 

*/

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

form {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  background-color: #dddddd4b;
  border-radius: 2%;
  box-shadow: 2px 2px 19px #0b0202d2;
}

form label {
  font-size: x-large;
}
#name,
#email,
#message {
  width: 100%;
  max-width: 450px;
  background-color: white;
  text-align: center;
  font-size: large;
  border-radius: 10px;
  box-shadow: 2px 2px 19px #0b0202d2;
}

#message {
  height: 200px !important;
  max-width: 600px !important;
  text-align: justify;
  padding: 1rem;
}

button {
  width: 10rem;
  height: 4rem;
  font-size: x-large;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 2px 2px 20px #0b0202d2;
  border-radius: 10px;
  background-color: #fff;
}

button:hover {
  background-color: gray;
  color: white;
}
