body {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#root {
  padding: 2rem;
  background-color: rgba(232, 226, 226, 0.279);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.pcode-div {
  margin-bottom: 2rem;
}

.pet-details-div {
  margin-left: 2rem;
}

.pet-details-div p {
  margin: 0;
}

.pet-details-div ul {
  margin: 0;
}
