.new-player-form-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 2pt solid rgba(128, 128, 128, 0.624);
    background-color: rgba(128, 128, 128, 0.531);
    text-align: center;
    margin: 5rem;


}

#new-player-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: right;
    justify-content: center;

}

#new-player-form input {
    margin: 1rem;
}

#new-player-form button {
   width: auto;
}